<div class="modal fade" tabindex="-1" role="dialog" id="PlayersInsert">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Player</h4>
            </div>
            <div class="modal-body">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <b>Info</b>
                    </div>
                    <div class="card-body">

                        @foreach (System.Reflection.PropertyInfo propertyInfo in Model.GetType().GetProperties())
                        {
                            var Name = @propertyInfo.Name.Replace("_", "");

                            var Type = "";

                            switch (propertyInfo.PropertyType.UnderlyingSystemType.ToString()) { 
                                
                                case "System.Int32":
                                    Type = "Number";
                                    break;

                                case "System.DateTime":
                                    Type = "Date";
                                    break;

                                default :
                                    Type = "Text";
                                    break;
                            };                        

                            if (Name != "Id")
                            {
                                //Type=Date
                                //Type=Number
                                //Type=Text

                                if (@propertyInfo.PropertyType.UnderlyingSystemType.ToString().Contains("Dnd.Exaltado"))
                                {
                                    <div class="card card-outline card-dark" style="margin-top:10px;">
                                        <div class="card-header">
                                            <b>@Name</b>
                                        </div>
                                        <div class="card-body">
                                            @foreach (System.Reflection.PropertyInfo propertyInfoClass in @propertyInfo.PropertyType.UnderlyingSystemType.GetProperties())
                                            {

                                                <label for="@Name">@Name</label>
                                                <input type="@Type" class="form-control" id="@Name" placeholder="">
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <label for="@Name">@Name</label>
                                    <input type="@Type" class="form-control" id="@Name" placeholder="">
                                }
                            }
                        }
                    </div>
                </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>