@{ 
    var count = 0;
}

@foreach (System.Reflection.PropertyInfo propertyInfo in Model.GetType().GetProperties())
{
    var DivStyle = "";
    var Type = "";
    var DivClass = "";
    var InputClass = "form-control";
    var Value = propertyInfo.GetValue(Model, null);
    var ValueClass = "";

    var Name = @propertyInfo.Name.Replace("_", "");
    var Id = @propertyInfo.Name;

    if (count == 1)
    {
        DivStyle = "margin-top:94px;";
        count = 0;
    };

    switch (propertyInfo.PropertyType.UnderlyingSystemType.ToString())
    {

        case "System.Int32":
            Type = "number";
            break;

        case "System.DateTime":
            Type = "date";
            break;

        case "System.Boolean":
            Type = "checkbox";
            DivClass = "float-left";
            count = 1;
            break;

        default:
            Type = "text";
            break;

    };

    if (Name != "Id")
    {
        if (@propertyInfo.PropertyType.UnderlyingSystemType.ToString().Contains("Dnd.Exaltado"))
        {
            <div class="card card-outline card-dark">
                <div class="card-header">
                    <b>@Name</b>
                </div>


                <div class="card-body" id="@propertyInfo.PropertyType.Name.ToString()">
                    @foreach (System.Reflection.PropertyInfo propertyInfoClass in @propertyInfo.PropertyType.UnderlyingSystemType.GetProperties())
                    {
                        Name = propertyInfoClass.Name.Replace("_", "");
                        Id = propertyInfoClass.Name;

                        if (Value != null)
                            ValueClass = propertyInfoClass.GetValue(Value, null);

                        <div class="@DivClass" style="@DivStyle">
                            <label for="@Id">@Name</label>
                            <input type="@Type" class="@InputClass" id="@Id" value="@ValueClass">
                            <label for="@Id"></label>
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="@DivClass" style="@DivStyle">
                <label for="@Id">@Name</label>
                <input type="@Type" class="@InputClass" id="@Id" value="@Value">
                <label for="@Id"></label>
            </div>
        }
    }
}