@{
    var CloseButtonId = Model._ModalId + "Close";

    var Valida =  Model._ModalId.ToString().Contains("View");
}

<form class="modal fade" tabindex="-1" role="dialog" id="@Model._ModalId">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Model._ModalTitle</h4>
            </div>
            <div class="modal-body">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <b>Info</b>
                    </div>
                    <div class="card-body">

                        @Html.Partial("_GenerateFormFields")

                    </div>
                </div>

            </div>
            @{
                if (Valida)
                {
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="@CloseButtonId" data-dismiss="modal">Close</button>
                    </div>
                }
                else
                {
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="@CloseButtonId" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" form="@Model._ModalId">Save changes</button>
                    </div>
                }
            }

        </div>
    </div>
</form>